@font-face {
  font-family: 'Layout';
  src: url(/CarShowroom/fonts/Layout.otf) format('otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Layout-Bold';
  src: url(/CarShowroom/fonts/Layout-Bold.otf) format('otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Layout-Italic';
  src: url(/CarShowroom/fonts/Layout-Italic.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Layout-BoldItalic';
  src: url(/CarShowroom/fonts/Layout-BoldItalic.otf) format('otf');
  font-weight: 400;
}

body{
  font-family: 'Layout', sans-serif;
  font-weight: 400;
  color: #FFF;
  margin: 0 auto;
  zoom: 100%;
}

a{
  text-decoration: none;
  color: #fff;
}

img{
  max-width: 100%;
}


/*Шапка початок*/
.wrapeer{
  background: linear-gradient(90deg, rgba(39,83,103,1) 0%, rgba(90,140,163,1) 25%, rgba(162,201,218,1) 50%, rgba(183,211,224,1) 75%, rgba(214,227,233,1) 100%);
  width: 100%;
  height: 800px;
}

.headerBox{
  width: 100%;
  padding: 20px 40px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  font-size: 25px;
}

header nav{
  width: 65%;
  display: flex;
  flex-flow: row nowrap;
}

header nav ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: inline-block;
}

header nav ul li{
  display: inline-block;
  margin-left: 20px;
}

header nav ul li a{
  font-size: 18px;
  color: #000;
  display: inline-block;
}

.newAccount{
  float: right;
  height: inherit;
  margin-left: 450px;
}

/*Шапка кінець*/

/*Текст з малюнком*/
.mainText{
  position: absolute;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 64px;
  color: #000;
  text-align: center;
  top: 100px;
  left: 10%;
}


/*Кнопка пошук машини*/
.mainbutton{
  position: absolute;
  top: 280px;
  left: 37%;
  background-color: #FE8521;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 383px;
  height: 71px;
  padding: auto;
  border: none;
  border-radius: 17px;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

/*Фото машини*/
#car-img{
  position: absolute;
  width: 947px;
  height: 341px;
  top: 400px;
  left: 15%;
  margin: auto;
}

/*---------------------*/
#about-us{
  width: 100%;
  height: 355px;
  padding: 60px 163px 140px 100px;
  gap: 0px;
  opacity: 0px;
  color: #000;
}

#about-us h3{
  margin-left: 328px;
  font-size: 36px;
  font-weight: 700px;
}

#about-us p{
  padding: auto;
  width: 1214px;
  font-size: 24px;
  font-weight: 400px;
}

/*-----------------------------*/


.car-in-stock{
  background: linear-gradient(90deg, rgba(39,83,103,1) 0%, rgba(90,140,163,1) 25%, rgba(162,201,218,1) 50%, rgba(183,211,224,1) 75%, rgba(214,227,233,1) 100%);
  width: 100%;
  height: 690px;
  padding-top: 50px;
}

.car-in-stock p{
  color: #000;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400px;
}

.car-in-stock .cars img{
  width: 349px;
  height: 280px;
  background: #fff;
}

.car-in-stock .cars{
  display: flex;
  justify-content: center;
  width: 100%;
}

.car-in-stock .cars span{
  display: block;
  text-align: left;
  margin: 7px;
  margin-top: 12px;
  font-size: 20px;
  font-weight: 700px;
  color: #000;
}

.car-in-stock .cars .block{
  margin: 25px;
}

#all-auto-button{
  background-color: #FE8521;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  width: 439px;
  height: 59px;
  padding: auto;
  border: none;
  border-radius: 17px;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

/*----------------------------------------*/