@import url(https://db.onlinewebfonts.com/c/bc28028bf5fff883c167bfe77545594d?family=Bitstream+Iowan+Old+Style);
@font-face {
    font-family: "Bitstream Iowan Old Style";
    src: url("https://db.onlinewebfonts.com/t/bc28028bf5fff883c167bfe77545594d.eot");
    src: url("https://db.onlinewebfonts.com/t/bc28028bf5fff883c167bfe77545594d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/bc28028bf5fff883c167bfe77545594d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/bc28028bf5fff883c167bfe77545594d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/bc28028bf5fff883c167bfe77545594d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/bc28028bf5fff883c167bfe77545594d.svg#Bitstream Iowan Old Style")format("svg");
}

body{
  font-family: "Bitstream Iowan Old Style";
  color: #000;
  margin: 0 auto;
  zoom: 100%;
}

a{
  text-decoration: none;
  color: #fff;
}

img{
  max-width: 100%;
}


/*Шапка початок*/
.wrapeer{
  background: linear-gradient(90deg, rgba(39,83,103,1) 0%, rgba(90,140,163,1) 25%, rgba(162,201,218,1) 50%, rgba(183,211,224,1) 75%, rgba(214,227,233,1) 100%);
  width: 100%;
  height: 800px;
}

.headerBox{
  width: 100%;
  padding: 20px 40px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  font-size: 25px;
  color: #fff;
}

header nav{
  width: 65%;
  display: flex;
  flex-flow: row nowrap;
}

header nav ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: inline-block;
}

header nav ul li{
  display: inline-block;
  margin-left: 20px;
}

header nav ul li a{
  font-size: 18px;
  color: #000;
  display: inline-block;
}

.newAccount{
  float: right;
  height: inherit;
  margin-left: 450px;
}

/*Шапка кінець*/

/*Текст з малюнком*/
.mainText{
  position: relative;
  margin: auto;
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: 400px;
  font-size: 64px;
  text-align: center;
}


/*Кнопка пошук машини*/
.mainbutton{
  position: relative;
  background-color: #FE8521;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 80px;
  width: 383px;
  height: 71px;
  padding: auto;
  border: none;
  border-radius: 17px;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

/*Фото машини*/
#car-img{
  position: relative;
  display: flex;
  justify-content: center;
  width: 947px;
  height: 341px;
  margin: auto;
  margin-bottom: 0;
  margin-top: 40px;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.3));
}

#shadow-car{
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: -80px;
}
/*---------------------*/